doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title todoList
        link(rel="stylesheet", href="style/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    body 
     .content__box
      .container 
       p.title Tasks For Today
       .input__box 
         input(type="text" class="src__box" placeholder="What you want to") 
         <i class="plus fa-solid fa-plus"></i>
       ul.list__box 
         
     script(src="app/main.js") 